#pragma code_page(65001)
#include <windows.h>
#include "settings_ids.h"
IDD_DISPLAY DIALOGEX 0, 0, 282, 223
STYLE DS_SETFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "HQNET 디스플레이 설정"
FONT 9, "맑은 고딕"
BEGIN
    LTEXT "게임 화면의 표시 방법을 변경합니다.", -1, 12, 10, 258, 12
    LTEXT "화면 모드", -1, 12, 34, 72, 12
    COMBOBOX IDC_MODE, 90, 31, 180, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "화면 출력", -1, 12, 60, 72, 12
    COMBOBOX IDC_RENDERER, 90, 57, 180, 65, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_SCALING, 12, 85, 258, 100, CBS_DROPDOWNLIST | WS_TABSTOP
    CONTROL "수직동기화 (GPU)", IDC_VSYNC, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 105, 258, 13
    LTEXT "수직동기화는 게임 진행 속도에 영향을 줄 수 있습니다.", -1, 12, 124, 258, 13
    CONTROL "다음 실행에도 저장", IDC_SAVE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 12, 146, 258, 13
    LTEXT "", IDC_STATUS, 12, 164, 258, 25
    DEFPUSHBUTTON "적용", IDC_APPLY, 126, 197, 68, 16
    PUSHBUTTON "닫기", IDCANCEL, 202, 197, 68, 16
END
